{% extends 'base.html' %}

{% block title %}
<title>Gallery: Favourite photos of Skepta</title>
{% endblock %}

{%  block content %}
<div class="sk-img">
    <img src="/static/images/130780856_1023891324781419_7835574480947214496_n.jpg" alt="">
    <img src="/static/images/skbiker.jpg" alt="">
    <img src="/static/images/skroyce.jpg" alt="">
    <img src="/static/images/20230223_133014.jpg" alt="">
    <img src="/static/images/skepta-1.jpg" alt="">
    <img src="/static/images/sk.jpg" alt="">
    <img src="/static/images/bigsmoke.jpg" alt="">
    <img src="/static/images/husnsk.jpg" alt="">
    <img src="/static/images/skfashionweek.jpg" alt="">
</div>
{% endblock %}