{% extends 'base.html' %}

{% block content %}
    <div class="my-btn my-3">
        <div class="mb-3 btn-group" id="pills-tab" role="tablist">
            <button class="btn btn-outline-success  active" id="pills-info-tab" data-bs-toggle="pill" data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info" aria-selected="true">Info</button>
            <button class="btn btn-outline-secondary" id="pills-play-tab" data-bs-toggle="pill" data-bs-target="#pills-play" type="button" role="tab" aria-controls="pills-play" aria-selected="false">Preview</button>
        </div>
    </div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab" tabindex="0">
            <div class="p-4 text-white">
                <div class="text-center">
                    <img src="{{ playlist.image_url }}" class="img-art" alt=""> <br>
                    <h5>{{ playlist.name }}</h5>
                    By {{ playlist.owner }} <b> &centerdot; </b>  {{ playlist.total_tracks }} songs <br>
                    {{ playlist.desc }} <br>
                    <p class="m-3">
                        <a  href="{{ playlist.ext_url }}" class="btn btn-outline-success"> <img src="/static/images/sp.png" alt="" width="30" height="30"> Play on Spotify</a>
                    </p>
                </div>
                <div class="album_tracks p-2">
                    {% for track in playlist.tracks %}
                        &CenterDot;  {{ track.name }} <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade text-center mt-5" id="pills-play" role="tabpanel" aria-labelledby="pills-play-tab" tabindex="0">
            <div>
                <iframe src="https://open.spotify.com/embed/playlist/{{ playlist.id }}?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
